@charset "UTF-8";
/* Стили для основного меню */
@import url(menu/menu.css);
@import url(menu/button-menu/button-menu.css);
@import url(menu/application-repair/application-repair.css);
/* Стили для основного содержания */
@import url(main-content/main-content.css);
@import url(main-content/button-expand/button-expand.css);
/* Стили для названия раздела */
@import url(main-content/__title-section/main-content__title-section.css);
/* Стили для меню раздела */
@import url(main-content/menu-section/menu-section.css);
@import url(main-content/menu-section/__item/menu-section__item.css);
@import url(main-content/menu-section/__text-item/menu-section__text-item.css);
/* Стили для основного текста раздела */
@import url(main-content/content-section/main-text-section/main-text-section.css);
@import url(main-content/content-section/main-text-section/__paragraph/main-text-section__paragraph.css);
/* Стили для картинки раздела */
@import url(main-content/content-section/picture/picture.css);
/* Стили для свайпера */
@import url(main-content/swiper/swiper-bundle.min.css);
@import url(main-content/swiper/swiper.css);
@import url(main-content/swiper-brend/swiper-brend.css);
/* Стили для бокового меню  */
@import url(mobile-menu/mobile-menu.css);
/* Стили для верхней части меню  */
@import url(mobile-menu/top-menu/exit/exit.css);
@import url(mobile-menu/top-menu/top-menu.css);
@import url(mobile-menu/top-menu/__logo/top-menu__logo.css);
/* Стили для средней части меню  */
@import url(mobile-menu/middle-menu/middle-menu.css);
@import url(mobile-menu/middle-menu/__button/middle-menu__button.css);
/* Стили для нижней части меню  */
@import url(mobile-menu/bottom-menu/bottom-menu.css);
/* Стили для подвала меню  */
@import url(mobile-menu/footer-menu/footer-menu.css);
@import url(mobile-menu/footer-menu/__language/footer-menu__language.css);
/* Стили для разных экранов */
@import url(viewport-768.css) (min-width: 768px) and (max-width: 1119px);
@import url(viewport-1120.css) (min-width: 1120px);
@font-face {
  font-family: "TT Lakes";
  src: url(fonts/TTLakes-Regular.eot);
  src: local("TT Lakes Regular"), local("TTLakes-Regular"), url(fonts/TTLakes-Regular.eot) format("embedded-opentype"), url(fonts/TTLakes-Regular.woff) format("woff"), url(fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url(fonts/TTLakes-Medium.eot);
  src: local("TT Lakes Medium"), local("TTLakes-Medium"), url(fonts/TTLakes-Medium.eot) format("embedded-opentype"), url(fonts/TTLakes-Medium.woff) format("woff"), url(fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url(fonts/TTLakes-Bold.eot);
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url(fonts/TTLakes-Bold.eot) format("embedded-opentype"), url(fonts/TTLakes-Bold.woff) format("woff"), url(fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

.swiper-slide-technic {
  height: 160px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.swiper-technic-title {
  width: 100%;
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  font-weight: 500;
  margin: 16px 0 0 16px;
}

.swiper-technic-link {
  margin: 0 0 16px 184px;
}

.swiper-technic .swiper-wrapper-blur {
  height: 166px;
}

.swiper-slide-prices {
  width: 260px;
  height: 200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.swiper-slide-prices__content {
  width: 100%;
  font-family: "TT Lakes";
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1B1C21;
  font-weight: 500;
  margin-left: 16px;
  margin-right: 16px;
}

.swiper-slide-prices__content:nth-child(odd) {
  line-height: 16px;
  color: #7E7E82;
  mix-blend-mode: normal;
  opacity: 0.72;
  margin-top: 16px;
}

.swiper-slide-prices__content:nth-child(even) {
  margin-top: 4px;
}

.swiper-prices-link {
  position: absolute;
  left: calc(100% - 135px);
  top: calc(100% - 48px);
}