@import url(menu/menu.css);
@import url(menu/button-menu/button-menu.css);
@import url(menu/application-repair/application-repair.css);
@import url(main-content/main-content.css);
@import url(main-content/button-expand/button-expand.css);
@import url(main-content/__title-section/main-content__title-section.css);
@import url(main-content/menu-section/menu-section.css);
@import url(main-content/menu-section/__item/menu-section__item.css);
@import url(main-content/menu-section/__text-item/menu-section__text-item.css);
@import url(main-content/content-section/main-text-section/main-text-section.css);
@import url(main-content/content-section/main-text-section/__paragraph/main-text-section__paragraph.css);
@import url(main-content/content-section/picture/picture.css);
@import url(main-content/swiper/swiper-bundle.min.css);
@import url(main-content/swiper/swiper.css);
@import url(main-content/swiper-brend/swiper-brend.css);
@import url(mobile-menu/mobile-menu.css);
@import url(mobile-menu/top-menu/exit/exit.css);
@import url(mobile-menu/top-menu/top-menu.css);
@import url(mobile-menu/top-menu/__logo/top-menu__logo.css);
@import url(mobile-menu/middle-menu/middle-menu.css);
@import url(mobile-menu/middle-menu/__button/middle-menu__button.css);
@import url(mobile-menu/bottom-menu/bottom-menu.css);
@import url(mobile-menu/footer-menu/footer-menu.css);
@import url(mobile-menu/footer-menu/__language/footer-menu__language.css);
@font-face {
  font-family: "TT Lakes";
  src: url(fonts/TTLakes-Regular.eot);
  src: local("TT Lakes Regular"), local("TTLakes-Regular"), url(fonts/TTLakes-Regular.eot) format("embedded-opentype"), url(fonts/TTLakes-Regular.woff) format("woff"), url(fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url(fonts/TTLakes-Medium.eot);
  src: local("TT Lakes Medium"), local("TTLakes-Medium"), url(fonts/TTLakes-Medium.eot) format("embedded-opentype"), url(fonts/TTLakes-Medium.woff) format("woff"), url(fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url(fonts/TTLakes-Bold.eot);
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url(fonts/TTLakes-Bold.eot) format("embedded-opentype"), url(fonts/TTLakes-Bold.woff) format("woff"), url(fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

.wrapper-mobile-menu {
  width: 100%;
  position: absolute;
  top: 0;
  left: -150%;
  z-index: 2;
  -webkit-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
  mix-blend-mode: normal;
  background-color: rgba(255, 255, 255, 0.96);
}

.swiper-slide-technic {
  height: 160px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.swiper-technic-title {
  width: 100%;
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  font-weight: 500;
  margin: 16px 0 0 16px;
}

.swiper-technic-link {
  margin: 0 0 16px 184px;
}

.swiper-technic .swiper-wrapper-blur {
  height: 166px;
}

.swiper-prices {
  margin-bottom: 16px;
}

.swiper-slide-prices {
  width: 260px;
  height: 200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.swiper-slide-prices__content {
  width: 100%;
  font-family: "TT Lakes";
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1B1C21;
  font-weight: 500;
  margin-left: 16px;
  margin-right: 16px;
}

.swiper-slide-prices__content:nth-child(odd) {
  line-height: 16px;
  color: #7E7E82;
  mix-blend-mode: normal;
  opacity: 0.72;
  margin-top: 16px;
}

.swiper-slide-prices__content:nth-child(even) {
  margin-top: 4px;
}

.swiper-prices-link {
  position: absolute;
  left: calc(100% - 135px);
  top: calc(100% - 48px);
}

.note {
  font-family: "TT Lakes";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1B1C21;
  padding-bottom: 17.5px;
  margin: 0px 16px;
}

.order {
  display: block;
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  font-weight: 500;
  text-decoration: none;
  background-color: #F8F8F8;
  padding-bottom: 40px;
  margin: 0px 16px;
}

.order::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 11.45px;
  background-image: url(main-content/order/line.svg);
  background-repeat: no-repeat;
  position: relative;
  top: 2px;
  left: 5px;
}

footer {
  width: 100%;
  position: absolute;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  background-color: #F8F8F8;
  width: 100%;
  font-family: "TT Lakes";
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #7E7E82;
  mix-blend-mode: normal;
  opacity: 0.72;
  padding: 16px 0px;
}

.footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #D9FFF5;
  position: absolute;
  top: 1px;
}

@media (min-width: 768px) and (max-width: 1119px) {
  .mobile-menu {
    width: 320px;
  }
  .menu {
    padding: 24px;
  }
  .menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__burger-menu {
    margin-right: 2.6vw;
  }
  .menu__strip-divider {
    margin-right: 2.7vw;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 32.65vw;
  }
  .logo::before {
    content: "";
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-image: url(menu/logo/strip-divider.svg);
    margin-right: 20.73px;
  }
  .phone {
    margin-right: 2.1vw;
  }
  .message {
    margin-right: 2.1vw;
  }
  .profile {
    margin-right: 2.6vw;
  }
  .application-repair {
    margin-right: 2.1vw;
  }
  .main-content__title-section {
    padding: 24px 0 32px 24px;
  }
  .menu-section {
    margin-left: 24px;
  }
  .content-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-text-section {
    width: 40.6vw;
    margin-left: 24px;
    margin-right: 48px;
  }
  .main-text-section__paragraph:nth-child(2) {
    margin-bottom: 10px;
  }
  .main-text-section__paragraph-hidden:first-child {
    display: inline;
  }
  .picture {
    width: 46.9vw;
    height: 27.1vw;
  }
  .swiper__header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    background: -webkit-gradient(linear, left top, right top, color-stop(1.39%, #F8F8F8), to(#FFFFFF));
    background: -o-linear-gradient(left, #F8F8F8 1.39%, #FFFFFF 100%);
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
  }
  .swiper__title {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin-left: 24px;
  }
  .swiper-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 16px;
    height: 160px;
    overflow: hidden;
    padding: 0 12px;
  }
  .swiper-wrapper-blur {
    visibility: hidden;
  }
  .swiper-slide {
    width: 224px;
    margin: 0 12px;
  }
  .button-expand-swiper-brend,
  .button-expand__img,
  .button-expand__text {
    display: inline-block;
  }
  .swiper-prices {
    margin-bottom: 24px;
  }
  .swiper-prices .swiper-wrapper {
    height: auto;
    row-gap: 0;
    overflow: visible;
    margin-right: 24px;
  }
  .swiper__header {
    margin-bottom: 63px;
  }
  .swiper-slide-prices {
    width: 100%;
    height: 64px;
    border: #FFFFFF;
  }
  .swiper-slide-prices::after {
    content: "";
    width: 95%;
    height: 1px;
    background-color: #EAEAEA;
    position: absolute;
    top: calc(100% - 1px);
    left: 16px;
  }
  .swiper-slide-prices__content {
    white-space: nowrap;
  }
  .swiper-slide-prices__content:nth-child(odd) {
    height: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    position: relative;
    bottom: 46px;
    visibility: hidden;
    margin-top: 16px;
  }
  .swiper-slide-prices:first-child .swiper-slide-prices__content:nth-child(odd) {
    visibility: visible;
  }
  .swiper-slide-prices__content:nth-child(1),
  .swiper-slide-prices__content:nth-child(2) {
    width: 350px;
    margin-right: 2%;
  }
  .swiper-slide-prices__content:nth-child(3),
  .swiper-slide-prices__content:nth-child(4) {
    width: 74px;
    margin-left: 0;
    margin-right: 2%;
  }
  .swiper-slide-prices__content:nth-child(5),
  .swiper-slide-prices__content:nth-child(6) {
    width: 81px;
    margin-left: 0;
    margin-right: 22%;
  }
  .swiper-prices-link {
    position: absolute;
    left: calc(100% - 135px);
    top: calc(100% - 48px);
  }
  .note {
    width: 421px;
    margin-left: 24px;
  }
  .order {
    padding-bottom: 47px;
    margin-left: 24px;
  }
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 32px 24px 25px 24px;
  }
  .footer-item {
    width: 33%;
  }
  .footer-item:first-child {
    text-align: left;
  }
  .footer-item:last-child {
    text-align: right;
  }
}
@media (min-width: 1120px) {
  .menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background: #F8F8F8;
    padding: 42px 32px 8.37px 0;
  }
  .menu-item:not(.application-repair, .repair-status) {
    display: none;
  }
  .button-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: inherit;
  }
  .text-button-menu {
    display: block;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.2px;
    color: #1B1C21;
    padding-right: 8px;
  }
  .application-repair {
    margin-right: 32px;
  }
  .application-repair::before {
    visibility: hidden;
  }
  .main-content__title-section {
    padding: 0 0 0 32px;
    margin-right: auto;
    position: absolute;
    top: 42px;
  }
  .menu-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 32px;
  }
  .content-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-text-section {
    width: 43.8vw;
    margin-left: 34px;
    margin-right: 36px;
  }
  .main-text-section__paragraph:nth-child(2) {
    margin-bottom: 13.78px;
  }
  .main-text-section__paragraph-hidden {
    display: inline;
  }
  .picture {
    width: 47.4vw;
    height: 27.4vw;
  }
  .swiper__title {
    margin-right: 32px;
  }
  .swiper-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 16px;
    height: 160px;
    overflow: hidden;
    padding: 0 16px;
  }
  .swiper-wrapper-blur {
    visibility: hidden;
  }
  .swiper-slide {
    margin: 0 16px;
  }
  .button-expand-swiper-brend,
  .button-expand__img,
  .button-expand__text {
    display: inline-block;
  }
  .button-expand-swiper-brend {
    margin-left: 39.29px;
  }
  .swiper-prices {
    margin-bottom: 32px;
  }
  .swiper-prices .swiper-wrapper {
    height: auto;
    row-gap: 0;
    overflow: visible;
    margin-right: 24px;
  }
  .swiper__header {
    margin-bottom: 63px;
  }
  .swiper-slide-prices {
    width: 100%;
    height: 64px;
    border: #FFFFFF;
  }
  .swiper-slide-prices::after {
    content: "";
    width: 97%;
    height: 1px;
    background-color: #EAEAEA;
    position: absolute;
    top: calc(100% - 1px);
    left: 24px;
  }
  .swiper-slide-prices__content {
    white-space: nowrap;
    margin-left: 24px;
  }
  .swiper-slide-prices__content:nth-child(odd) {
    height: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    position: relative;
    bottom: 46px;
    visibility: hidden;
    margin-top: 16px;
  }
  .swiper-slide-prices:first-child .swiper-slide-prices__content:nth-child(odd) {
    visibility: visible;
  }
  .swiper-slide-prices__content:nth-child(1),
  .swiper-slide-prices__content:nth-child(2) {
    width: 17%;
    margin-right: 33%;
  }
  .swiper-slide-prices__content:nth-child(3),
  .swiper-slide-prices__content:nth-child(4) {
    width: 5%;
    margin-left: 0;
    margin-right: 15%;
  }
  .swiper-slide-prices__content:nth-child(5),
  .swiper-slide-prices__content:nth-child(6) {
    width: 5%;
    margin-left: 0;
    margin-right: 23%;
  }
  .swiper-prices-link {
    position: absolute;
    left: calc(100% - 135px);
    top: calc(100% - 48px);
  }
  .note {
    width: 421px;
    margin-left: 32px;
  }
  .order {
    padding-bottom: 50px;
    margin-left: 32px;
  }
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 32px 32px 21px 32px;
  }
  .footer-item {
    width: 33%;
  }
  .footer-item:first-child {
    text-align: left;
  }
  .footer-item:last-child {
    text-align: right;
  }
}