.viewport-768{
    display: block;
}

/* Корректировка основного меню  */
    .menu{
        padding:24rem; 
    }

    .menu__burger-menu{
        margin-right: 2.6vw;
    }

    .menu__strip-divider{
        margin-right: 2.7vw;
    }

    .logo{
        display: flex;
        align-items: center;
        margin-right: 32.65vw;
    }

    .logo::before{
        content: "";
        width:2px;
        height: 32px;
        border-radius: 1px;    
        background-image: url(menu/logo/strip-divider.svg);
    
        margin-right: 20.73px;
    }

    .phone{
        margin-right: 2.1vw;
    }

    .message{
        margin-right: 2.1vw;
    }

    .profile{
        margin-right: 2.6vw;
    }

    .application-repair{
        margin-right: 2.1vw;
    }

/* Корректировка основного содержания  */
    /* Название раздела  */
    .main-content__title-section{
        /*border: 1px dashed black;*/
        padding:24px 0 32px 24px;
    }

    /* Меню раздела  */
    .menu-section{
        /*border: 1px dashed black;*/
        margin-left: 24px;
    }

    /* Содержание раздела  */

    .content-section{
        display: flex;
    }

    .main-text-section{
        width: 40.6vw;
        margin-left: 24px;
        margin-right: 48px;
    }

    .main-text-section__paragraph:nth-child(2){
        margin-bottom: 10px;
    }

    .main-text-section__paragraph-768{
        display: inline;
    }

    .picture{
        width: 46.9vw;
        height: 27.1vw;
    }

