.viewport-1120{
    display: block;
}

/* Корректировка основного меню  */

.menu{
    justify-content: flex-end;
    background: #F8F8F8;
    padding: 42px 32px 8.37px 0;
}

.menu-item:not(.application-repair, .repair-status){
    display: none;
}

.button-menu{
    display: flex;
    align-self: center; 
    background-color: inherit;
}

.text-button-menu{
    align-self: center;

    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.2px;
    color: #1B1C21;

    padding-right: 8px;
}

.application-repair{
    margin-right:32px;
}

/* Корректировка основного содержания  */

.main-content__title-section{
    padding: 0 0 0 32px;
    margin-right: auto;
    position: absolute;
    top:42px;
}

/* Корректировка меню раздела  */
.menu-section{
    flex-wrap: wrap;
    margin-left: 32px;
}

/* Содержание раздела  */
.content-section{
    display: flex;
}

.main-text-section{
    width: 43.8vw;
    margin-left: 34px;
    margin-right: 36px;
}

.main-text-section__paragraph-1120{
    display: inline;
    margin-bottom: 13.78px;
}

.picture{
    width: 47.4vw;
    height: 27.4vw;
}