.main-content__title-section{
    /*border: 1px dashed black;*/
    font-family: 'TT Lakes';
    font-size: 28rem;
    line-height: 40rem;
    letter-spacing: -0.6px;
    color: #1B1C21;
    font-weight: bold;

    background-image: url(highlighting-strip.svg);
    background-repeat: no-repeat;
    background-position: left center;

    padding:24rem 16rem 24rem 16rem;
}