.footer-menu__language{
    display: flex;
    list-style-type: none;
    font-weight: 500;
    
    margin-bottom: 32px;
}

.footer-menu__language-item{
    transition: color 0.7s;
}

.footer-menu__language-item:nth-child(2){
    margin-left: 7px;
}

.footer-menu__language-item:nth-child(3){
    margin-left: 7px;
}

.footer-menu__language-item:hover{
    color: #7E7E82;
}
