.middle-menu__item{
    display: flex;
    height: 32px;
    margin-bottom: 32px;
}

.middle-menu__item:hover:before{
    content: "";
    width:4px;
    height: 32px;
    background-image: url(highlight.png);
    position: absolute;
}