.middle-menu__item{
    margin-bottom: 32px;

}

.middle-menu__item:hover{
    background-image: url(../../../main-content/__title-section/highlighting-strip.svg);
    background-repeat: no-repeat;
    background-position: left center;
    
}